body {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
pre {
  background-color: rgb(238, 237, 237);
  padding: 10px;
  border-radius: 10px;
}

a{
  display: inline-flex;
  margin-left: 5px;
  padding: 5px 10px;
  background-color: brown;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
}

.container{
  display: flex;
  flex: 0.2;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

.container button{
  margin-top: 5px;
  border: none;
  padding: 10px;
  background-color: #ccc;
  border-radius: 10px;
}
.container button:active{
  background-color: black;
  color: #fff;
}

.container input{
  height: 30px;
  border: 0px solid;
  border-radius: 20px;
  padding: 5px 10px;
}